{% extends "layout.html" %}


{% block body %}

<h3>HAKKIMIZDA</h3>
<hr>
<p>
Merhabalar,

İstanbul Teknik Üniversitesi Fizik Mühendisliği bölümünden mezun oldum. Mezun olduktan sonra ZyXEL firmasında Satış ve Pazarlama departmanlarında ürün yönetimi ve proje geliştirme pozisyonlarında 3. 5 yıl çalıştıktan sonra, ABD ‘ye Berkeley Üniversitesi’nde pazarlamanın teorik eğitimini almak için gittim. 2011 yılında Türkiye’ye döndüğümde yine firmaların satış pazarlama departmanlarında kurumsal projeler ve iş geliştirme pozisyonlarında çalıştım. 

Artık günümüzde verilerin birikmesi ve bunlardan anlamalı sonuçlar elde etmenin öneminin artması ile veri bilimine ilgim giderek arttı. Matematik, istatistik, lineer cebir, programlama gibi bir çok disiplini içermesi, büyük veri yığınlarından firmalara önemli sonuçlar bulgular sağlaması ve bilinmeyene yönelik heyecanlı yolculuk beni bu yola yönlendirdi. Amacım bu yolda ilerlerken öğrenilmesi gereken konuları vurgulamak, diğer taraftan bu konularla ilgilenmek isteyen, ama nereden başlayacağı konusunda sıkıntı çeken arkadaşlara yardımcı olmaya çalışmaktır.</p>

<p>Unutmadan arkadaşlar <b> ‘ne yapmak istediğiniz hakkında yeterli bilgiye sahip değilseniz, kesin olmayan tahminleriniz ve düşük istatistik gücünüz olur.’

</p>
{% endblock body %}


